/* Site Colors */
$grey: #DFDFDF;
$black: #000000;
$white: #FFFFFF;
$dark-grey: #434343;
$medium-grey: #747474;

/* Event Colors */
$purple: #651FFF;
$blue: #3593ff;
$cyan: #19cca8;
$green: #78d91a; 
$yellow: #dec52a;
$orange: #ffbb34;
$red: #ff2046;
$pink: #ff34b5; 
$magenta: #dd12ff;

$offer-low: #FC1854;
$offer-high: #E8C22B;
$offer-good: #94C426;
$offer-buy: #4AB31F;

$fb-blue: #3B5998;
$twtr-blue: #00aced;
